{% extends "WhitewashingReviewSquawkBundle::layout.html.twig" %}

{% block content %}
<div class="well">
    <h2>Hello {{ app.user.username }}!</h2>

    <p>The following repositories are reviewed in your name:</p>

    {% if app.user.projects|length > 0 %}
    <table>
    {% for project in app.user.projects %}
        <tr>
            <td><a href="{{ path('rs_github_project_show', {'id': project.id}) }}">{{ project.repositoryUrl }}</a></td>
            <td>{{ project.codingStandard }}</td>
        </tr>
    {% endfor %}
    </table>

    <p>You want to review another project? <a href="{{ path('rs_github_project_create') }}">Register one now</a>.</p>
    {% else %}
    <p>None! Get going and <a href="{{ path('rs_github_project_create') }}">register a new project now</a>.</p>
    {% endif %}
</div>

{% endblock %}
